<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="onsubmit(signInForm)" #signInForm="ngForm">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" name="email"
                        placeholder="name@example.com" ngModel>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password"
                        placeholder="Password" ngModel>
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid">
                    Please fill all fields.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                    Invalid user or password.
                </div>
            </form>
            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a routerLink="/register">Register</a></p>

            </div>
        </div>
    </div>
</div>
