<div class="login-wrapper">
  <div class="card">
    <div class="card-body">
      <form class="form-signin" (ngSubmit)="onsubmit(registerform)" #registerform="ngForm">
        <h1 class="h3 mb-3 fw-normal">Registeration</h1>        
        <div class="form-outline mb-4">
          <input type="email" id="regname" class="form-control" name="name" placeholder="Name" ngModel />          
        </div>
        <div class="form-outline mb-4">
          <input type="email" id="regusername" class="form-control" name="userName" placeholder="User Name" ngModel />          
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="regpassword" class="form-control" name="passWord" placeholder="Password" ngModel />          
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="regrepassword" class="form-control" placeholder="Re-type Password" />          
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>        
      </form>
      <!-- Register buttons -->

    </div>
  </div>
</div>